<h1>I can haz feedz?</h1>

<!-- put this in a nav bar partial -->
<%= link_to "Dev Login", login_path(provider: :developer), class: "btn btn-primary" %>
<%= link_to "Login with Instagram", login_path(provider: :instagram), class: "btn btn-primary" %>
<%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
<% unless @user.nil?  %>
  <%= @user.username %>
<% end %>

<!-- Search button -->
<%= link_to "Follow People", search_path, class: "btn btn-primary" %>

<!-- Manage feed button -->
<%= link_to "Manage Feed", people_path, class: "btn btn-primary" %>

<!-- Actual Feed here -->
