<div class="container center">
  <h1 class="header">NinjaPartay</h1>
    <% if session[:user_id].nil? %>
      <h3>Choose Your Weapon</h3>
        <%= link_to login_path(provider: :instagram) do %>
            <span class="fa fa-instagram fa-5x col-sm-1 center social-icon" aria-hidden="true" data-toggle="tooltip" title="instagram login"></span>
        <% end %>
        <%= link_to login_path(provider: :twitter) do %>
            <span class="fa fa-twitter fa-5x col-sm-1 center social-icon" aria-hidden="true" data-toggle="tooltip" title="twitter login"></span>
        <% end %>
      <% else %>
        <% if @user %>
          <h2><%= @user.username %></h2>
        <% end %>
        <%= link_to "Follow People", search_path, class: "btn btn-primary" %>
        <!-- Manage feed button -->
        <%= link_to "Assasinate", people_path, class: "btn btn-primary" %>

        <!-- Instagram Actual Feed here -->
        <% if @response %>
          <% @response.first["data"].each do |response| %>
            <div class="row">
              <div class="col-sm-4 center">
                <div class="thumbnail">
                  <%= link_to image_tag(response["images"]["standard_resolution"]["url"]), "https://instagram.com/p/6EV9MOKwzY/" %>
                  <div class="caption">
                    <% unless response["caption"].nil? %>
                      <p><%= response["caption"]["text"] %></p>
                    <% end %>
                    <em><%= Time.at(response["created_time"].to_i).strftime("%m/%d/%Y at %I:%M%p") %></em>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <!-- Actual Feed here -->
    <% @feed.each do |tweet| %>
      <p><%= tweet.text %>
      <%= tweet.created_at %></p>
    <% end  %>



</div>
