<div class="container center">
  <%= image_tag("notso-2.png", class: "ninja")%>
  <h1 class="header">NinjaPartay</h1>
    <% if session[:user_id].nil? %>
      <h3 class="login-header">Choose Your Weapon</h3>
        <%= link_to login_path(provider: :instagram) do %>
            <span class="fa fa-instagram fa-5x col-sm-1 center ig-icon" aria-hidden="true" data-toggle="tooltip" title="instagram login"></span>
        <% end %>
        <%= link_to login_path(provider: :twitter) do %>
            <span class="fa fa-twitter fa-5x col-sm-1 center twitter-icon" aria-hidden="true" data-toggle="tooltip" title="twitter login"></span>
        <% end %>
    <% else %>
        <!-- Feed -->
        <% if @all_posts && !@all_posts.empty? %>
          <div class="feed col-sm-4 center">
            <% @all_posts.each do |post| %>
              <div class="thumbnail">
                <div class="caption">
                  <% if post.provider == "Instagram" %>
                    <%= link_to image_tag(post.media_url, class: "ig_image"), post.link %>
                    <h5><span class="fa fa-instagram fa-lg icon" aria-hidden="true" data-toggle="tooltip"></span> <%= post.username %></h5>
                    <p><%= post.text %></p>
                  <% else %>
                    <h5 class="lefts"><%= image_tag(post.avatar, class: "avatar") %>
                    <span class="fa fa-twitter fa-lg icon" aria-hidden="true" data-toggle="tooltip"></span> <%= post.username %></h5>
                    <p><%= post.text %></p>
                  <% end %>
                  <em><%= post.date_time.strftime("%m/%d/%Y at %I:%M%p") %></em>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    <% end %>
</div>
