<div class="container center">
  <h1 class="header">NinjaPartay</h1>
    <% if session[:user_id].nil? %>
      <h3 class="login-header">Choose Your Weapon</h3>
        <%= link_to login_path(provider: :instagram) do %>
            <span class="fa fa-instagram fa-5x col-sm-1 center ig-icon" aria-hidden="true" data-toggle="tooltip" title="instagram login"></span>
        <% end %>
        <%= link_to login_path(provider: :twitter) do %>
            <span class="fa fa-twitter fa-5x col-sm-1 center twitter-icon" aria-hidden="true" data-toggle="tooltip" title="twitter login"></span>
        <% end %>
    <% else %>
      <% if @user %>
          <h2><%= @user.username %></h2>
      <% end %>
      <div class="follow-delete-button">
      <%= link_to "Follow People", search_path, class: "btn btn-primary" %>
      <!-- Manage feed button -->
      <%= link_to "Assasinate", people_path, class: "btn btn-primary" %>
      <%= render partial: "instagrams/refresh_feed" %>
      <!-- Instagram Actual Feed here -->
      <div class="feed col-sm-4 center">
        <% if @posts %>
          <% @posts.each do |post| %>
            <div class="thumbnail">
              <%= link_to image_tag(post["data"]["images"]["standard_resolution"]["url"], class: "ig_image"), post["data"]["link"]%>
              <div class="caption">
                <h5>Posted by: <%= post["data"]["user"]["username"] %></h5>
                <% unless post["data"]["caption"].nil? %>
                  <p><%= post["data"]["caption"]["text"] %></p>
                <% end %>
                <em><%= Time.at(post["data"]["created_time"].to_i).strftime("%m/%d/%Y at %I:%M%p") %></em>
              </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
    <!-- Actual Feed here -->
    <% if @user %>
      <% @feed.each do |tweet| %>
          <h4><%= tweet.user.screen_name %></h4>
        <p><%= tweet.text %>
        <%= tweet.created_at %></p>
      <% end  %>
    <% end %>
</div>
