<h1>Who do you want to creep on?</h1>

<%= form_tag search_redirect_path do %>
  <%= label_tag :search_term %>
  <%= text_field_tag :search_term %>

  <%= hidden_field_tag :provider, params[:provider] %>

  <%= submit_tag "CREEP" %>
<% end %>
