<h1>Welcome to your dashboard, <%= @stalker.username %> </h1>

<h3>Subscriptions</h3>

<h4>Twitter</h4>

<ul>
  <% @twitter_prey.each do |prey| %>
    <li><%= image_tag prey.photo_url %><%= link_to prey.username, "http://twitter.com/#{prey.username}" %><%= button_to "Unfollow", unfollow_path, method: :patch, class: "btn btn-danger btn", params: { username: prey.username } %></li>
  <% end %>
</ul>

<h4>Instagram</h4>

<ul>
  <% @instagram_prey.each do |prey| %>
    <li> <%= prey.username %> <%= button_to "Unfollow", unfollow_path, method: :patch, class: "btn btn-danger", params: { username: prey.username } %> </li>
  <% end %>
</ul>
