<% if posts.nil? || posts.empty? %>
  <h2>This feed doesn't have any posts. ;_;</h2>
<% else %>
  <br>
  <h2 class="text-center green"><%= posts.last["caption"]["from"]["username"] %>'s feed
    <% if params[:feed_id] %>
      <%= link_to "Subscribe", subscribe_path(params[:feed_id]), method: "post", class: "btn btn-success btn-md" %>
    <% end %></h2>
  <% posts.each_with_index do |post, index| %>
   <div class="feed">
    <%= image_tag post["images"]["low_resolution"]["url"], class: "left" %>
    <div class="right">
      <p>
        <% if post["caption"] %>
          <%= post["caption"]["text"] %>
        <% else %>
          No description provided.
        <% end %>
      </p>
    </div>
    <div class="date">
      <%= Time.at(post["created_time"].to_i) %>
    </div>
   </div>
  <% end %>
<% end %>
