<nav class="nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% end %>
      </li>
      <li><%= link_to "Feed", feeds_path %></li>
      <li><%= link_to "Search Twitter", search_path('twitter')  %></li>
      <li><%= link_to "Search Instagram", search_path('instagram') %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"> Stay weird, <%= user_or_guest %></p></li>
      <% if session[:user_id] %>
        <li><%= button_to("Sign Out", logout_path, method: :delete, class: "btn btn-default navbar-btn") %></li>
        <% end %>
    </ul>
  </div>
</nav>
