<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "THE BEAST", root_path, class: "navbar-brand" %>
      <% if logged_in? %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
    </div>

    <% if logged_in? %>
      <div class="collapse navbar-collapse navbar-nav navbar-right" id="navbar-collapse">
        <%= form_tag(search_path, method: :get, class: "navbar-form navbar-left", role: "search") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Users on", class: "form-control" %>
          <%= select_tag :website, options_for_select([['Twitter', 'twitter'], ['Instagram', 'instagram']]), class: "form-control" %>
          <%= submit_tag "Search", class:"btn btn-default" %>
        <% end %>
        <ul class="nav navbar-right">
          <li>
            <%= button_to "Log Out", logout_path, method: :delete, class: "btn btn-default navbar-btn" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">
      <p class="navbar-text beast-mode">The home for all your feed needs. FEED THE BEAST.</p>
    </div>
  </div>
</div>
