<div class="container-fluid">

<h1>Welcome to BEAST MODE</h1><small>The home for all your feed needs. FEED THE BEAST.</small>

<% if flash[:notice]%>
   <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error]%>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<% if session[:user_id] %>
  <%= form_tag(twi_subscriptions_path, method: :get, class:"form-inline") do %>
    <%= text_field_tag :twitter_search, params[:twitter_search], placeholder: "Twitter user search"  %>
    <%= submit_tag "Find Tweets for the Beast", class:"btn btn-default" %>
  <% end %>
  <p><%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-default"%></p>
<% end %>

</div>
