  <nav class="container navbar navbar-inverse">
  <% if @user && session[:user_id]%>
    <div class ="navbar-text navbar-left"><%= @user.username %></div>
  <% end %>
  <ul class="nav navbar-nav navbar-right">
    <% if session[:user_id].nil? %>
      <li><%= link_to "Dev Login", login_path(provider: :developer) %></li>
    <% else %>
      <%# link_to "Refresh", root_path, class: "btn btn-default btn-feed" %>
      <li><%= link_to root_path, class: "btn btn-feed" do %>
        <i class="glyphicon glyphicon-repeat"></i>
      <% end %></li>
      <li><%= link_to "Stalk Targets", search_path %></li>
      <li><%= link_to "Assasinate", people_path %></li>
      <li><%= link_to "Go Home", root_path, method: :get %></li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <li><%= link_to "Dev Login", login_path(provider: :developer) %></li>
    <% end %>
  </ul>
</nav>
