<%= form_for :search, url: search_path do |f| %>

  <div class="row">
    <%= f.text_field :query, placeholder: "handsome_devil" %>
    <label>
      Instagram
        <%= f.radio_button :platform, "instagram" %>
    </label>

    <label>
      Vimeo
      <%= f.radio_button :platform, "vimeo" %>
    </label>
    <%= f.submit "Search", class: "btn btn-success" %>
  </div>
<% end %>
