<% if logged_in? %>
  <% @sub_array_tweets.each do |tweet| %>
    <%= tweet.user.screen_name %>
    <%= tweet.text %>
    <%= tweet.as_json["created_at"] %>
    <% tweet.media.as_json.each do |media| %>
      <%= image_tag(media["media_url_https"], height: '300' ) %>
    <% end %>
    <br>###<br>
  <% end %>
<% else %>
  <div class="jumbotron">
    <h1>WELCOME TO <strong>BEAST MODE!</strong></h1>
    <p>You must to sign in to feed the beast.</p>
    <p>
      <%= link_to "Sign In via Developer", "/auth/developer", class: "btn btn-primary" %>
    </p>
    <p>
      <%= link_to "Sign In via Instagram", "/auth/instagram", class: "btn btn-primary" %>
    </p>
  </div>
<% end %>
