<!-- This is broken if a person is signing in for the first time and doesn't already follow anyone.
This is why the @user.subscriptions.blank? is a thing-->
<!-- The .blank? I put in because everything kept breaking surrounding this code, so I purposefully made it so it would never be true and never try and display this code -->
<% if logged_in? && @user.subscriptions.blank? %>
  <h4>You have not fed the beast yet. Use the search window
  to satiate the beast!</h4>

<% elsif logged_in? %>
  <% @posts.each do |post| %>
    <%= post.username %>
    <% unless post.image.length < 3 %>
      <% post.image.each do |image| %>
      <%= image_tag image %>
      <% end %>
    <% end %>
    <%= post.text %>
  </br>
  <% end %>

<% else %>
  <div class="jumbotron">
    <h1>WELCOME TO <strong>BEAST MODE!</strong></h1>
    <p class="beast-mode">You must to sign in to feed the beast.</p>
    <p>
      <%= link_to "Sign In via Developer", "/auth/developer", class: "btn btn-primary" %>
    </p>
    <p>
      <%= link_to "Sign In via Instagram", "/auth/instagram", class: "btn btn-primary" %>
    </p>
  </div>
<% end %>
