<h1 class="header search-header text-center">
  <%= current_user.name %><br />
  <small>Here are all your feeds:</small>
</h1>

<% unless @feeds.empty? %>
    <% @feeds.each do |feed| %>
      <div class="col-sm-4">
        <div class="search-result">
          <h3>
            <% if feed.platform == "Instagram" %>
              <%= link_to feed.name, instagram_feed_path(feed.platform_feed_id) %>
              <br />
              <%= link_to "Unsubscribe", instagram_unsubscribe_path(feed.platform_feed_id),
                  method: "delete", class: "btn btn-warning btn-md", data: {
                  confirm: "Are you sure you want to unsubscribe from this feed?" } %>

            <% else %>
              <%= link_to feed.name, vimeo_feed_path(feed.platform_feed_id) %>
              <br />
              <%= link_to "Unsubscribe", vimeo_unsubscribe_path(feed.platform_feed_id),
                  method: "delete", class: "btn btn-warning btn-md", data: {
                  confirm: "Are you sure you want to unsubscribe from this feed?" } %>

            <% end %>
          </h3>
          <% if feed.avatar %>
            <%= image_tag feed.avatar, class: "profile" %>
          <% else %>
            <%= image_tag "vimeo-avatar.png", class: "profile" %>
          <% end %>
      </div>
    </div>
  <% end %>
<% end %>
