<% if current_user.avatar %>
  <%= image_tag current_user.avatar %>
<% end %>

<h2 class="text-center"><%= current_user.name %>'s feed</h2>

<% if @posts.nil? || @posts.empty? %>
  <p>
    You haven't subscribed to any feeds yet. Find some interesting feeds to
    follow by searching Instagram or Vimeo users with the above search box!
  </p>
<% else %>
  <% @posts.each_with_index do |post, index| %>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h3>
        <%= post.feed.name %><br />
        <small><%= post.date_posted %></small>
      </h3>
      <% if post.feed.platform == "Instagram" %>
        <%= image_tag post.content %>
      <% elsif post.feed.platform == "Vimeo" %>
        <%= post.content.html_safe %>
      <% end %>
      <p>
        <% if post.description %>
          <%= post.description %>
        <% else %>
          No description provided.
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
