<br>
<h2 class="text-center green"><%= current_user.name %>'s feed</h2>
<% if @posts.nil? || @posts.empty? %>
  <p>
    You haven't subscribed to any feeds yet. Find some interesting feeds to
    follow by searching Instagram or Vimeo users with the above search box!
  </p>
<% else %>
  <% @posts.each_with_index do |post, index| %>
     <div class="feed">
      <%= image_tag post.content, class: "left" %>
      <div class="right">
        <h3>
          <%= post.feed.name %>
        </h3>
        <p>
          <% if post.description %>
            <%= post.description %>
          <% else %>
            No description provided.
          <% end %>
        </p>
      </div>
      <div class="date">
          <%= post.date_posted %>
      </div>
    </div>
  <% end %>
<% end %>
