<br>
<h2 class="text-center header"><%= current_user.name %>'s feed</h2>
<ul class="nav nav-tabs">
  <li><%= link_to "All Feeds", root_url %></li>
  <li class="active"><%= link_to "Instagram", instagram_path, :controller => "welcome", :action => "instagram_feed" %></li>
  <li><%= link_to "Vimeo", vimeo_path, :controller => "welcome", :action => "vimeo_feed  " %></li>
</ul>
<% if @posts.nil? || @posts.empty? %>
  <div class = "feed">
    <%= image_tag "sadcat.jpg", class: "left" %>
    <div class = "right">
      <h3 class="green">
        The Friendface Team
      </h3>
      <p>
        You haven't subscribed to any Instagram feeds yet, lonely kitten will sit here and ponder the meaninglessness of our existence while she waits for more friends.
      </p>
      <p>
        Find some interesting feeds to follow by searching Instagram users with the search box above!
      </p>
      <span class="badge">
        0 likes
      </span>
    </div>
    <div class = "date">
      1:04AM Thursday, January 1st, 2015 (PDT)
    </div>
  </div>
<% else %>
  <%= render partial: "shared/internal_posts", locals: { posts: @posts } %>
<% end %>
