na<br>
<h2 class="text-center header"><%= current_user.name %>'s feed</h2>
<ul class="nav nav-tabs">
  <li><%= link_to "All Feeds", root_url %></li>
  <li><%= link_to "Instagram", instagram_path, :controller => "welcome", :action => "view_instagram_feed" %></li>
  <li class="active"><%= link_to "Vimeo", vimeo_path, :controller => "welcome", :action => "view_vimeo_feed  " %></li>
</ul>
<% if @posts.nil? || @posts.empty? %>
  <p class="feed">
    You haven't subscribed to any feeds yet. Find some interesting feeds to follow by searching Instagram or Vimeo users with the above search box!
  </p>
<% else %>
  <%= render partial: "shared/internal_posts", locals: { posts: @posts } %>
<% end %>
