<h1>Search Insta-Users</h1>
<%= render "shared/errors" %>

<%= form_tag iuser_search_path do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search Users", class: "btn btn-default" %>

  <% end %>
