<h1 class ="green search-header">Search results for <%= @query %>:</h1>
<div class="result">
<% unless @results.empty? %>
    <% @results.each_with_index do |result, index| %>
      <div class="col-sm-3 search-result">
        <h3>
          <%= link_to result["name"], vimeo_feed_path(grab_id(result)) %>
          <br>
          <%= link_to "Subscribe", vimeo_subscribe_path(grab_id(result)), method: "post", class: "btn btn-success btn-sm" %>
        </h3>
        <% if result["pictures"] %>
          <%= image_tag result["pictures"]["sizes"][3]["link"], class: "profile" %>
        <% else %>
          <%= image_tag "vimeo-avatar.png", class: "profile" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
