<h1>Search results for <%= @query %>:</h1>
<% unless @results.empty? %>
  <div class="row">
    <% @results.each_with_index do |result, index| %>
      <% if index % 3 == 0 %>
        </div><div class="row">
      <% end %>
      <div class="col-sm-4 search-result">
        <h3>
          <%= link_to result["name"], feed_path(result["uri"].split("/").last) %>
          <%= link_to "Subscribe", vimeo_subscribe_path(result["uri"].split("/").last), method: "post", class: "btn btn-info btn-xs" %>
        </h3>
        <% if result["pictures"] %>
          <%= image_tag result["pictures"]["sizes"][3]["link"], class: "profile" %>
        <% else %>
          <%= image_tag "vimeo-avatar.png", class: "profile" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
