<h1 class="center"><%= @user.name.capitalize %>'s Subscriptions </h1>

<% @subscriptions.each do |s| %>
  <%= link_to image_tag(s.avatar_url, class: "img-thumbnail", size: "50x50") %>
  <%= link_to s.handle %>
  <% if s.source == "instagram" %>
    <%= link_to image_tag("app/assets/images/insta.png", class: "img-thumbnail", size: "20x20") %>
    <% else %>
    <%= link_to image_tag("app/assets/images/tweet.png", class: "img-thumbnail", size: "20x20") %>
    <% end %>
  <% end %>
