<h1 class="center"><%= @current_user.name.capitalize %>'s Subscriptions </h1>
  <ul class="search-results">

  <div id="flash">
  <% if !flash.empty? %>
    <%= flash[:notice] %>
    <% end %>
  </div>

  <% @followees.each do |f| %>
    <li>
      <% if f.source == "instagram" %>
        <%= image_tag("insta.png", class: "img-thumbnail", size: "35x35") %>
      <% else %>
        <%= image_tag("tweet.png", class: "img-thumbnail", size: "35x35") %>
      <% end %>
      <%= image_tag(f.avatar_url, class: "img-thumbnail", size: "50x50") %>
      <%= f.handle %>
      <%= link_to "Unsubscribe", unsubscribe_path(f.subscriptions.where(user_id: @current_user.id).first.id), method: :put, class: "btn btn-danger btn-sm" %>
    </li>
  <% end %>
  </ul>
