<h1>Search results for <%= params[:search_term] %>  </h1>

<% if params[:client] == "instagram" %>
  <% @prey.each do |prey| %>
    Username: <%= prey["username"] %><br>
    <%= image_tag prey["profile_picture"], alt: "Profile Picture", size: "50" %><br>
  <% end %>
<% end %>

<% if params[:client] == "twitter" %>
  <ul>
    <% @prey.each do |prey| %>
      <li>
        <%= prey.username %>
        <%= image_tag prey.profile_image_url %>
      </li>
    <% end %>
  </ul>
<% end %>
