<h1>Search results for <%= params[:search_term] %>  </h1>

<div class="row">
  <% @prey.each do |prey| %>
    <div class="col-sm-6 col-md-4">
      <% if params[:client] == "instagram" %>
        <div class="thumbnail">
          <%= image_tag prey["profile_picture"], alt: "Profile Picture", size: "200" %><br>
          <div class="caption">
            <h3><%= prey["username"] %></h3>
            <!-- <p>button to subscribe</p> -->
          </div>
        </div>
      <% end %>
      <% if params[:client] == "twitter" %>
        <div class="thumbnail">
          <%= image_tag prey.profile_image_url, alt: "Profile Picture" %>
          <div class="caption">
            <h3><%= prey.username %></h3>
            <!-- <p>button to subscribe</p> -->
          </div>
        </div>
    <% end %>
    </div>
  <% end %>
</div>
