<div class="text-center">
  <h1>STALK UR TEXT</h1>
  <%= link_to "Update Feed", update_feed_path, method: "post", class: "btn btn-primary" %>
</div>

<div class="col-md-8 col-md-offset-2 col-xs-12">
  <% @posts.each do |post| %>
    <div class="row post">
      <% if post.prey.provider == "twitter" %>
        <div class="row post-header">
          <div class="col-md-2 col-xs-4">
            <%= image_tag post.prey.photo_url, class: "profile-image-thumbnail" %>
          </div>
          <div class="col-md-8 col-xs-4">
            <h5><%= post.prey.name %></h5>
            <small>@<%= post.prey.username %></small>
          </div>
          <div class="col-md-2 col-xs-4">
            <i class="fa fa-twitter fa-2x pull-right"></i>
          </div>
        </div>

        <div class="row post-header">
          <div class="col-md-9 time-ago">
            <%= time_ago_in_words(post.post_time) %> ago
          </div>
          <div class="col-md-3">
            <%= link_to "See Original", post.url, class: "btn btn-default btn-xs pull-right" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p><%= post.body %></p>
          </div>
        </div>

        <% if post.media.any? %>
          <% post.media.each do |medium| %>
            <div class="row">
              <div class="col-md-12">
                <%= link_to medium.url, class: "post-img" do %>
                    <div class="col-md-12">
                      <%= image_tag medium.url %>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% if post.prey.provider == "instagram" %>
        <div class="row post-header">
          <div class="col-md-2 col-xs-4">
            <%= image_tag post.prey.photo_url, class: "profile-image-thumbnail" %>
          </div>
          <div class="col-md-8 col-xs-4">
            <h5><%= post.prey.name %></h5>
            <small>@<%= post.prey.username %></small>
          </div>
          <div class="col-md-2 col-xs-4">
            <i class="fa fa-instagram fa-2x pull-right"></i>
          </div>
        </div>

        <div class="row post-header">
          <div class="col-md-9 time-ago">
            <%= time_ago_in_words(post.post_time) %> ago
          </div>
          <div class="col-md-3">
            <%= link_to "See Original", post.url, class: "btn btn-default btn-xs pull-right" %>
          </div>
        </div>

        <% if post.media.any? %>
          <% post.media.each do |medium| %>
          <div class="row">
            <div class="col-md-12">
              <%= link_to medium.url, class: "post-img" do %>
                <div class="col-md-12">
                  <%= image_tag medium.url %>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <p><%= post.body %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
