<h1>STALK UR TEXT</h1>

<h2>Welcome, <%= @stalker.username %>!</h2>

<%= button_to "Update Feed", update_feed_path, class: "btn btn-primary"  %>

<% @posts.each do |post| %>
  <div class="">
      <% if post.prey.provider == "twitter" %>
          <%= image_tag post.prey.photo_url %>

          <h4>
            <%= post.prey.name %>
            <small>@<%= post.prey.username %> * <%= time_ago_in_words(post.post_time) %> ago</small>
            <%= link_to "See Original", post.url, class: "btn btn-default" %>
          </h4>

          <%= post.body %>

          <% if post.media.any? %>
            <% post.media.each do |medium| %>
              <%= link_to medium.url, class: "post_img" do %>
                <%= image_tag medium.url %>
              <% end %>
            <% end %>
          <% end %>
      <% end %>

      <% if post.prey.provider == "instagram" %>
        <%= image_tag post.prey.photo_url, size: "50x50" %>

        <h4>
          <%= post.prey.name %>
          <small>@<%= post.prey.username %> * <%= time_ago_in_words(post.post_time) %> ago</small>
          <%= link_to "See Original", post.url, class: "btn btn-default" %>
        </h4>

        <% if post.media.any? %>
          <% post.media.each do |medium| %>
            <%= link_to medium.url do %>
              <%= image_tag medium.url, size: "400x400" %>
            <% end %>
          <% end %>
        <% end %>

        <p><%= post.body %></p>
      <% end %>
  </div>
<% end %>
