
<% if @internal %>
  <h2 class="text-center green">
    <%= @feed_name %>'s feed
    <% if params[:feed_id] %>
      <br />
      <%= link_to "Subscribe", instagram_subscribe_path(params[:feed_id]), method: "post", class: "btn btn-success btn-md" %>
    <% end %>
  </h2>

  <%= render partial: "shared/internal_posts", locals: { posts: @posts } %>
<% else %>

  <% unless @posts.nil? || @posts.empty? %>
    <br />
    <% @posts.each do |post| %>
      <div class="feed">
        <%= image_tag post["images"]["low_resolution"]["url"], class: "left" %>
        <div class="right">
          <h3>
            <%= link_to @feed_name, instagram_feed_path(params[:feed_id]) %>
          </h3>
          <p>
            <% if post["caption"] %>
              <%= post["caption"]["text"] %>
            <% else %>
              No description provided.
            <% end %>
          </p>
          <span class="badge"><%= number_with_delimiter(post["likes"]["count"], :delimiter => ',') %> likes</span><br />
        </div>
        <div class="date">
          <%= Time.at(post["created_time"].to_i) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
