<h1>Search results for <%= @query %>:</h1>

<% unless @results.empty? %>
  <div class="row">
    <% @results.each_with_index do |result, index| %>
      <% if index % 3 == 0 %>
        </div><div class="row">
      <% end %>
      <div class="col-sm-4 search-result">
        <h3>
          <%= link_to result["username"], instagram_feed_path(result["id"]) %>
          <%= link_to "Subscribe", instagram_subscribe_path(result["id"]), method: "post", class: "btn btn-info btn-xs" %>
          <% unless result["full_name"].empty? %>
            <br />
            <small><%= result["full_name"] %></small>
          <% end %>
        </h3>

        <%= image_tag result["profile_picture"] %>
      </div>
    <% end %>
  </div>
<% end %>
