<!DOCTYPE html>
<html>
<head>
  <title>STALK UR TEXT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <% if session[:stalker_id] %>
        <nav class="navbar navbar-default">
            <%= form_tag search_path, method: :post, class: "navbar-form navbar-left" do %>
              <%= text_field_tag :search_twitter, params[:search_twitter], placeholder: "Search Twitter Users" %>
              <%= submit_tag "Search", class: "btn btn-default" %>
            <% end %>

            <%= form_tag search_path, method: :post, class: "navbar-form navbar-left" do %>
              <%= text_field_tag :search_instagram, params[:search_instagram], placeholder: "Search Instagram Users" %>
              <%= submit_tag "Search", class: "btn btn-default" %>
            <% end %>
            <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-success navbar-btn navbar-right" %>
        </nav>
      <% end %>
    </header>

    <% if flash[:message] %>
      <% flash[:message].each do |key, value| %>
        <h4 class="alert alert-success"><%= key.to_s.titlecase %>: <%= value %></h4>
      <% end %>
    <% end %>
    <% if flash[:error] %>
      <% flash[:error].each do |key, value| %>
        <h4 class="alert alert-warning"><%= key.to_s.titlecase %>: <%= value %></h4>
      <% end %>
    <% end %>


    <%= yield %>
  </div>
</body>
</html>
