<!DOCTYPE html>
<html>
  <head>
    <title>C3ProjectsSeemore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <header id="top" class="nav navbar-default">
      <div class="col-sm-2">
        <h2><%= link_to "FriendFace", root_path %></h2>
      </div>

      <!-- begin logged in user content -->
      <% if current_user %>
        <div class="col-sm-7">
          <%= render partial: "shared/search_bar" %>
        </div>
        <div class="col-sm-3">
          <% if current_user.name != "" %>
            Welcome, <%= current_user.name %>.
          <% else %>
            Welcome, friend.
          <% end %>
          <%= link_to "Sign Out", logout_path, :method => :delete %>
        </div>
      <% end %>
      <!-- end logged in user content -->
    </header>
      <!-- begin message handling -->
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <p><%= flash[:success] %></p>
        </div>
      <% end %>
      <!-- end message handling -->

      <main>
        <%= yield %>
      </main>
  </body>
</html>
