<!DOCTYPE html>
<html>
<head>
  <title>Ninja Feed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <%= render "shared/nav" %>
  <% if flash[:error] %>
    <h5 class="alert alert-danger"><%= flash[:error] %></h5>
  <% end %>

  <% if flash[:alert] %>
    <h5 class="alert alert-warning"><%= flash[:alert] %></h5>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
