<!DOCTYPE html>
<html>
<head>
  <title>The Beast!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <%= render 'shared/header' %>

  <% if flash[:notice] %>
     <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
