<!DOCTYPE html>
<html>
  <head>
    <title>C3ProjectsSeemore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="top" class="nav navbar-default">
      <div class="col-sm-2">
        <h2><%= link_to "FriendFace", root_path %></h2>
      </div>
      <% if current_user %>
        <div class="col-sm-7">
          <%= form_for :instagram, url: results_path do |f| %>
            <div class="row">
              <%= f.text_field :query, placeholder: "handsome_devil" %>
              <label>
                Instagram
                  <%= f.radio_button :platform, "instagram" %>
              </label>

              <label>
                Vimeo
                <%= f.radio_button :platform, "vimeo" %>
              </label>
              <%= f.submit "Search", class: "btn btn-success" %>
            </div>
            <div class="row">
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          Welcome, <%= current_user.name %>.
          <%= link_to "Sign Out", logout_path, :method => :delete %>
        </div>
      <% end %>
    </header>
    <div class="container">
      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
