<!DOCTYPE html>
<html>
<head>
  <title>STALK UR TEXT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <div class="welcome-image">
    <%= image_tag "search.jpg", class: "welcome_image" %>
  </div>

  <div class="container">
    <header>
      <% if session[:stalker_id] %>
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <%= link_to(image_tag('home.png'), root_path, class: "navbar-brand") %>
          </div>

          <%= form_tag search_path, method: :post, class: "navbar-form navbar-left" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Twitter Users" %>
            <%= hidden_field_tag :client, 'twitter' %>
            <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>

          <%= form_tag search_path, method: :post, class: "navbar-form navbar-left" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Instagram Users" %>
            <%= hidden_field_tag :client, 'instagram' %>
            <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>

          <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-success navbar-btn navbar-right" %>
          <%= link_to "Dashboard", dashboard_path(session[:stalker_id]), class: "btn btn-default navbar-btn navbar-right" %>
        </nav>
      <div class="text-right">
        <h5>Welcome, <%= @stalker.username %>!</h5>
      </div>
      <% end %>
    </header>


    <% if flash[:message] %>
      <% flash[:message].each do |key, value| %>
        <h5 class="alert alert-success">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <%= key.to_s.titlecase %>: <%= value %>
        </h5>
      <% end %>
    <% end %>

    <% if flash[:error] %>
      <% flash[:error].each do |key, value| %>

        <h5 class="alert alert-warning">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= key.to_s.titlecase %>: <%= value %>
        </h5>
      <% end %>
    <% end %>

    <%= yield %>
</div>
</body>
</html>
